body{
	margin:0;
	
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


.section-center{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 7vw;
  line-height: 1;
  color: #ffeba7;
  text-align: center;
  -webkit-text-stroke: 2px #ffeba7;
  text-stroke: 2px #ffeba7;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
  
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color: #353746;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav ul li:nth-child(4){
  transition-delay: 50ms;
}
.nav ul li a{
  font-family: 'Montserrat', sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav ul li a:hover{
  text-decoration: none;
  color: #ffeba7;
}
.nav ul li a:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #353746;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav ul li a:hover:after{
  width: 100%;
}


.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1640ms;
}



.logo {
	position: absolute;
	top: 60px;
	left: 50px;
	display: block;
	z-index: 11;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
}



@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label{
    right: 55px;
  }
  .logo {
    left: 30px;
  }
  .nav{
    right: 30px;
  }
  h1{
    font-size: 9vw;
    -webkit-text-stroke: 2px transparent;
    text-stroke: 2px transparent;
    -webkit-text-fill-color: #ffeba7;
    text-fill-color: #ffeba7;
    color: #ffeba7;
  }
  .nav ul li a{
    font-size: 8vh;
  }
}


.header{
	background:#E0FFFF;
	margin-right:0px;
	border-radius: 0;
	background-image:url(image.jpg);
}


#text{
	/* Style for "INAZUMA" */
	width: 322px;
	height: 55px;
	color: white;
	font-family: Palatino Linotype;
	font-size: 70px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	text-transform: uppercase;
	/* Text style for "INAZUMA" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	position:relative;
	top:20px;
	left:30px;
}
#text1{
	/* Style for "Быстрое и" */
	width: 932px;
	height: 112px;
	color: #ffffff;
	font-family: Palatino Linotype;
	font-size: 52px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	/* Text style for "Быстрое и" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	position:relative;
	top:40px;
	left:30px;
}
#text2{
	/* Style for "Удобная пл" */
	width: 675px;
	height: 26px;
	color: #ffffff;
	font-family: Palatino Linotype;
	font-size: 25px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	/* Text style for "Удобная пл" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	position:relative;
	top:60px;
	left:30px;
}
#button{
	/* Style for "Rectangle" */
	width: 412px;
	height: 71px;
	border-radius: 30px;
	background-color: #833c3c;
	/* Style for "Заброниров" */
	position:relative;
	top:100px;
	left:30px;
	color: #ffffff;
	font-family: Palatino Linotype;
	font-size: 30px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
	/* Text style for "Заброниров" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
#inside_text a{
	position:relative;
	top:13px;
	color:white;
}
#inside_text {
	color: #00bfff; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
#inside_text:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -14px;
    width: 3px;
    height: 2px; /* Высота линии */
    background-color: white; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

#inside_text:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -14px;
    height: 2px; /* Высота линии */
    background-color: white; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
#text3{
	/* Style for "Следите за" */
	width: 457px;
	height: 28px;
	color: #ffffff;
	font-family: Palatino Linotype;
	font-size: 30px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	/* Text style for "Следите за" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	position:relative;
	top:110px;
	left:30px;
}
#icon1{
	position:relative;
	top:130px;
	left:30px;
}
#icon2{
	position:relative;
	top:80px;
	left:110px;
}
#icon3{
	position:relative;
	top:30px;
	left:190px;
}
#icon4{
	position:relative;
	top:-20px;
	left:270px;
}
#text6{
	/* Style for "Наш ассорт" */
	width: 372px;
	height: 39px;
	color: #000000;
	font-family: Palatino Linotype;
	font-size: 40px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	/* Text style for "Наш ассорт" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align:center;
	position:relative;
	left:650px;
}
#icon_eat{
	position:relative;
	left:300px;
	bottom:-30px;
}
#icon_sushi{
	position:relative;
	left:500px;
	bottom:110px;
}
#icon_rolls{
	position:relative;
	left:700px;
	bottom:275px;
}
#icon_drink{
	position:relative;
	left:900px;
	bottom:440px;
}
#icon_sweet{
	position:relative;
	left:1100px;
	bottom:570px;
}
#icon_sauces{
	position:relative;
	left:1300px;
	bottom:735px;
}
#text_eat1{
	/* Style for "Бэнто" */
	width: 119px;
	height: 31px;
	color: #000000;
	font-family: Palatino Linotype;
	font-size: 40px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	/* Text style for "Бэнто" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	position:relative;
	left:325px;
	bottom:688px;
	
}
#text_eat1 {
	color: #00bfff; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
#text_eat1:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -14px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

#text_eat1:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -14px;
    height: 2px; /* Высота линии */
    background-color: red; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
#text_eat2{
	/* Style for "Бэнто" */
	width: 119px;
	height: 31px;
	color: #000000;
	font-family: Palatino Linotype;
	font-size: 40px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	/* Text style for "Бэнто" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	position:relative;
	left:528px;
	bottom:722px;
}
#text_eat2 {
	color: #00bfff; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
#text_eat2:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -14px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

#text_eat2:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -14px;
    height: 2px; /* Высота линии */
    background-color: red; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
#text_eat3{
	/* Style for "Бэнто" */
	width: 119px;
	height: 31px;
	color: #000000;
	font-family: Palatino Linotype;
	font-size: 40px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	/* Text style for "Бэнто" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	position:relative;
	left:731px;
	bottom:755px;
}
#text_eat3 {
	color: #00bfff; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
#text_eat3:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -14px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

#text_eat3:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -14px;
    height: 2px; /* Высота линии */
    background-color: red; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
#text_eat4{
	/* Style for "Бэнто" */
	width: 119px;
	height: 31px;
	color: #000000;
	font-family: Palatino Linotype;
	font-size: 40px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	/* Text style for "Бэнто" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	position:relative;
	left:920px;
	bottom:786px;
}
#text_eat4{
	color: #00bfff; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
#text_eat4:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -14px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

#text_eat4:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -14px;
    height: 2px; /* Высота линии */
    background-color: red; /* Цвет подчеркивания при появлении линии*/
transition: width 0.5s;  /* Время эффекта */}
#text_eat5{
	/* Style for "Бэнто" */
	width: 119px;
	height: 31px;
	color: #000000;
	font-family: Palatino Linotype;
	font-size: 40px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	/* Text style for "Бэнто" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	position:relative;
	left:1120px;
	bottom:819px;
}
#text_eat5{
	color: #00bfff; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
#text_eat5:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -14px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

#text_eat5:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -14px;
    height: 2px; /* Высота линии */
    background-color: red; /* Цвет подчеркивания при появлении линии*/
transition: width 0.5s;  /* Время эффекта */}
#text_eat6{
	/* Style for "Бэнто" */
	width: 119px;
	height: 31px;
	color: #000000;
	font-family: Palatino Linotype;
	font-size: 40px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	/* Text style for "Бэнто" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	position:relative;
	left:1320px;
	bottom:850px;
}
#text_eat6 {
	color: #00bfff; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
#text_eat6:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -14px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

#text_eat6:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -14px;
    height: 2px; /* Высота линии */
    background-color: red; /* Цвет подчеркивания при появлении линии*/
transition: width 0.5s;  /* Время эффекта */}
#text7{
	/* Style for "Самые попу" */
	width: 958px;
	height: 41px;
	color: #000000;
	font-family: Palatino Linotype;
	font-size: 40px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	/* Text style for "Самые попу" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	position:relative;
	left:500px;
	bottom:810px;
	
}
#image_fav1{
		
	height:401px;
	width:547px;
	position:relative;
	left:40px;
	bottom:780px;
	box-shadow: 20px 20px 20px;
	
}
#image_fav2{
	height:401px;
	width:547px;
	position:relative;
	left:670px;
	bottom:1181px;
	box-shadow: 20px 20px 20px;
}
#image_fav3{
	height:401px;
	width:547px;
	position:relative;
	left:1250px;
	bottom:1581px;
	box-shadow: 20px 20px 20px;
}
.place{
	position:relative;
	left:1250px;
	bottom:1581px;
	
}
#first_place{
	position:relative;
	right:1040px;
	bottom:-5px;
}
#second_place{
	position:relative;
	right:410px;
	bottom:145px;
}
#third_place{
	position:relative;
	left:195px;
	bottom:295px;
}
#mako{
	/* Style for "Макуноути" */
	width: 252px;
	height: 43px;
	color: #000000;
	font-family: Palatino Linotype;
	font-size: 45px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	/* Text style for "Макуноути" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	position:relative;
	left:170px;
	bottom:1870px;
}
#info1{
	font-size: 20px;
}
#info2{
	font-size: 20px;
}
#tako
{
	/* Style for "Макуноути" */
	width: 252px;
	height: 43px;
	color: #000000;
	font-family: Palatino Linotype;
	font-size: 45px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	/* Text style for "Макуноути" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	position:relative;
	left:800px;
	bottom:1920px;
}
#dango{
	/* Style for "Макуноути" */
	width: 252px;
	height: 43px;
	color: #000000;
	font-family: Palatino Linotype;
	font-size: 45px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	/* Text style for "Макуноути" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	position:relative;
	left:1435px;
	bottom:1970px;
}
#info3{
	font-size: 20px;
}
#new{
	/* Style for "Vector" */
	width: 150px;
	height: 150px;
	position:relative;
	left:830px;
	bottom:1500px;
}
#text8{
	/* Style for "Наша 3D мо" */
	width: 522px;
	height: 54px;
	color: #000000;
	font-family: Palatino Linotype;
	font-size: 60px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	/* Text style for "Наша 3D мо" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	position:relative;
	left:680px;
	bottom:1520px;
	
}
#model1{
	/* Style for "one 1" */
	width: 1133px;
	height: 638px;
	border-radius: 50px;
	position:relative;
	left:680px;
	bottom:1450px;
	box-shadow: 20px 20px 20px;
}
#arrows1{
	width: 150px;
	height: 150px;
	position:relative;
	bottom:2100px;
}
#text9{
	/* Style for "Rectangle" */
	width: 600px;
	height: 300px;
	background-color: #edc3a6;
	border-radius: 0px 50px 0px 50px;
	/* Style for "3D модель" */
	color: #000000;
	font-family: Palatino Linotype;
	font-size: 23px;
	padding-left:15px;
	padding-top:15px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	/* Text style for "3D модель" */
	font-family: Palatino Linotype;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	/* Text style for ",  , -стул" */
	font-family: Palatino Linotype;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	position:relative;
	bottom:2070px;
	margin-left:10px;
	
}
#model2{
	width: 1133px;
	height: 638px;
	border-radius: 50px;
	position:relative;
	left:0px;
	bottom:1850px;
	box-shadow:20px 20px 20px;
	margin-left:10px;
}
#arrows2{
	width: 150px;
	height: 150px;
	position:relative;
	bottom:2490px;
	left:1400px;
}
#text10{
	/* Style for "Rectangle" */
	width: 600px;
	height: 220px;
	padding-left:15px;
	padding-top:15px;
	background-color: #edc3a6;
	border-radius: 0px 50px 0px 50px;
	/* Style for "Перейдя на" */
	color: #000000;
	font-family: Palatino Linotype;
	font-size: 25px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	position:relative;
	bottom:2470px;
	left:1180px;
}
#footer_1{
	background:linear-gradient(to right, #FF7F50, #FAFAD2);
	color:white;
	height:95px;
	width:100%;
	float:left;
	border-top:3px solid orange;
	margin-right:15px;
	font-family:Palatino Linotype;
	color:black;
	position:relative;
	bottom:2000px;
	margin-bottom:0;
	
}
a{
	text-decoration:none;
	color:black;
}